

.cart-holder
{
	width: 80%;
	margin-top: 6%;
	margin-left: 15%;
	overflow: hidden;
	margin-top: 5%;
	padding: 0% 0% 0% 27%;
}

.cart-holder h2
{
	padding: 0% 0% 0% 28%
}

.cart-holder .cart-table
{
	margin-top: 4%;
	width: 60%;
	border: 0px;
	border-radius: 5%;
	text-align: center;
	border-collapse: collapse;
}


.cart-holder .cart-table th
{
	font-size: 16px;
	background: #696969;
	color: #ffff;
	padding: 1%;
}


.cart-holder .cart-table .name-header
{
	border-radius: 10px 0% 0% 0%;
}

.cart-holder .cart-table .subtotal-header
{
	border-radius: 0px 10px 0px 0px;
}

.cart-holder .cart-table tr td
{
	border-bottom: 1px solid #d1d1d1;
}


.cart-holder .cart-table tr:hover td
{
	background-color: #f7f7f7;
}




.cart-holder .cart-table .total, .total-amount
{
	border-top: 4px solid #1d1d1d;
	border-bottom: 0px;
	padding: 01% 0% 01% 0%;
	background: none;
	color: #1d1d1d;
	font-weight: 500;
	font-size: 20px;
	background: #f7f7f7;
}

.cart-holder .cart-table .total
{
	border-radius: 0px 0px 0px 10px;
}

.cart-holder .cart-table .total-amount
{
	border-radius: 0px 0px 10px 0px;
	border-bottom: 0px;
}

.cart-holder .cart-table .quantity
{
	width: 120px;
}

.cart-holder .cart-table .quantity input
{
	width: 60%;
	padding: 0px 0px 0px 5px;
	border-radius: 2px;
	background: transparent;
	border: 1px solid #1d1d1d;
}

.cart-holder .cart-table .quantity input[type=number]::-webkit-inner-spin-button, 
.cart-holder .cart-table .quantity input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.cart-holder .cart-table .subtotal
{
	border-right: 1px solid #f7f7f7;
	width: 120px;
}

.cart-holder .cart-table .name
{
	border-left: 1px solid #f7f7f7;
	width: 200px;
}



.cart-holder .cart-table .image
{
	width: 100px;
}

.cart-holder .cart-table .image img
{
	width: 100%;
	padding: 10%;
	border-radius: 5px;
}

