@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body{
	font-weight: 300;
}

.navbar
{
	z-index: 999;
}

.side-navbar
{
	z-index: 999;
}


.page-info
{
	left: 0;
	right: 0;
	margin: 0px auto;
	margin-top: 20px;
	width: 480px;
	height: 60px;
	text-align: center;
	background: #fff;
	display: block;
	border-bottom: 2px solid #363636;
}



.product-container
{
	margin-top: 30px;
	margin-bottom: 30px;
}


.product-container a:hover
{
	border-bottom: 3px solid #363636;
	transition: .2s all;
}
.product-card
{
	width: 320px;
	height: 500px;
  	padding: 40px;
  	cursor: pointer;
	margin-left: 60px;
	box-shadow: 1px 3px 3px 1px #4444;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}




.image-holder
{
	display: flex;
	margin-top: 1%;
	margin-left: 0%;
	margin-right: auto;
	width: 100%;
	height: 350px;
	position: relative;
	overflow: hidden;
}



.image-holder img
{
	width: 320px;
	height: 350px;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
	overflow: hidden;
}

.image-holder:hover img
{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	transform: scale(1.2);
}

.product-details
{
	margin-top: 20px;
	text-align: center;
	padding-top: 5px;
	overflow: hidden;
	font-size: 12px;
}


.product-container .image-holder .product-options
{
	padding: 5%;
	width: 310px;
	height: 350px;
	position: absolute;
	background: rgba(0,0,0,.5);
	transform: scaleY(0);
	overflow: hidden;
}

.product-container .image-holder:hover .product-options
{
	transform: scaleY(1);
	transition: transform .4s;
}

.product-container .image-holder .product-options .option
{
	left: 0;
	right: 0;
	margin: 0px auto;
	padding: 5%;
	margin-top: 20px;
	border: 2px solid #4ce67f;
	text-align: center;
	font-size: 12px;
	color: #fff;
	overflow: hidden;
}

.option a
{
	color: #fff;
	text-decoration: none;
}

.product-container .image-holder .product-options .option:hover 
{
	background: rgba(0,0,0,.5);
	transition: .3s;
}

.explore-button
{
	width: 160px;
	height: 50px;
	top: 10px;
	left:0;
	right: 0;
	background: #4ce67f;
	text-align: center;
	border:none;
	border-radius: 2px;
	margin: 0px auto;
	cursor: pointer;
	color: #fff;
}

.explore-button:hover
{
	background: #363636;
	transition: .3s all; 
}

.explore-button a
{
	color: #fff;
	text-decoration: none;
	line-height: 50px;
}


.default
{
	left: 0;
	right: 0;
	margin: 0px auto;
	width: 420px;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #f5425d;
	text-decoration: none;
	font-size: 28px;
	border: 2px solid #f5425d;
	border-radius: 2px;
}

.default:hover
{
	background: none;
	color: #ffff;
}

.default a
{
	text-decoration: none;
	color: #ffff;
}
.default a:hover
{
	color: #f5425d;
}










@media (min-width: 1000px) {
	
	.product-container
	{
		width: 1000px;
		left: 0;
		right: 0;
		margin: 0px auto;
		padding-bottom: 20px;
		border-bottom: 2px solid #363636;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.product-container ul
	{
		display: flex;
  		flex-wrap: wrap;
  		list-style: none;
  		margin: 0;
  		padding: 0;
	}	

	.product-container h2
	{
	margin-top: 0px auto;
	margin-bottom: 3%;
	color: #1d1d1d;
	font-size: 30px;
	text-align: center;
	padding: 0;
	text-decoration: underline;
}


.product-card
{
	width: 240px;
	height: 420px;
  	padding: 40px;
  	cursor: pointer;
	margin-left: 10px;
	box-shadow: 1px 3px 3px 1px #4444;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

.image-holder
{
	display: flex;
	margin-top: 1%;
	margin-left: 0%;
	margin-right: auto;
	width: 100%;
	height: 280px;
	position: relative;
	overflow: hidden;
}



.image-holder img
{
	width: 240px;
	height: 280px;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
	overflow: hidden;
}

.image-holder:hover img
{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	transform: scale(1.2);
}



.product-details
{
	margin-top: 20px;
	text-align: center;
	padding-top: 5px;
	overflow: hidden;
	font-size: 12px;
}


.product-container .image-holder .product-options
{
	padding: 5%;
	width: 240px;
	height: 280px;
	position: absolute;
	background: rgba(0,0,0,.5);
	transform: scaleY(0);
	overflow: hidden;
}

.product-container .image-holder:hover .product-options
{
	transform: scaleY(1);
	transition: transform .4s;
}

.product-container .image-holder .product-options .option
{
	left: 0;
	right: 0;
	margin: 0px auto;
	padding: 5%;
	margin-top: 20px;
	border: 2px solid #4ce67f;
	text-align: center;
	font-size: 12px;
	color: #fff;
	overflow: hidden;
}

.option a
{
	color: #fff;
	text-decoration: none;
}

.product-container .image-holder .product-options .option:hover 
{
	background: rgba(0,0,0,.5);
	transition: .3s;
}



}
	




/*
.page-info
{
	left: 0;
	right: 0;
	margin: 0px auto;
	margin-top: 300px;
	width: 480px;
	height: 60px;
	text-align: center;
	background: #fff;
	display: block;
	border-bottom: 2px solid #363636;
}


.product-container
{
	width: 1600px;
	height: auto;
	margin-left: 200px;
	padding: 5%;
	padding-top: 0%;
	justify-content: center;
	text-align:center;
	align-items: center;
	overflow: hidden;
	position: inherit;
	z-index: 990;
}



.product-container h2
{
	margin-top: 0px auto;
	margin-bottom: 3%;
	color: #1d1d1d;
	font-size: 30px;
	text-align: center;
	padding: 0;
	text-decoration: underline;
}

.product-container ul
{
	display: flex;
  	flex-wrap: wrap;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}

.default
{
	text-decoration: none;
	color: #363636;
	font-size: 28px;

}

.product-container a:hover
{
	border-bottom: 3px solid #363636;
	transition: .2s all;
}
.product-card
{
	width: 240px;
	height: 420px;
  	padding: 40px;
  	cursor: pointer;
	margin-left: 60px;
	box-shadow: 1px 3px 3px 1px #4444;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

.image-holder
{
	display: flex;
	margin-top: 1%;
	margin-left: 0%;
	margin-right: auto;
	width: 100%;
	height: 280px;
	position: relative;
	overflow: hidden;
}



.image-holder img
{
	width: 240px;
	height: 280px;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
	overflow: hidden;
}

.image-holder:hover img
{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	transform: scale(1.2);
}



.product-details
{
	margin-top: 20px;
	text-align: center;
	padding-top: 5px;
	overflow: hidden;
	font-size: 12px;
}


.product-container .image-holder .product-options
{
	padding: 5%;
	width: 240px;
	height: 280px;
	position: absolute;
	background: rgba(0,0,0,.5);
	transform: scaleY(0);
	overflow: hidden;
}

.product-container .image-holder:hover .product-options
{
	transform: scaleY(1);
	transition: transform .4s;
}

.product-container .image-holder .product-options .option
{
	left: 0;
	right: 0;
	margin: 0px auto;
	padding: 5%;
	margin-top: 20px;
	border: 2px solid #4ce67f;
	text-align: center;
	font-size: 12px;
	color: #fff;
	overflow: hidden;
}

.option a
{
	color: #fff;
	text-decoration: none;
}

.product-container .image-holder .product-options .option:hover 
{
	background: rgba(0,0,0,.5);
	transition: .3s;
}



.explore-button
{
	width: 160px;
	height: 50px;
	top: 10px;
	left:0;
	right: 0;
	background: #4ce67f;
	text-align: center;
	border:none;
	border-radius: 2px;
	margin: 0px auto;
	cursor: pointer;
	color: #fff;
}

.explore-button:hover
{
	background: #363636;
	transition: .3s all; 
}

.explore-button a
{
	color: #fff;
	text-decoration: none;
	line-height: 50px;
}



@media screen and (max-width: 760px) {
	
	.page-info
	{
		margin-top: 480px;
		left: 0;
		right: 0;
		margin: 0px auto;
		text-align: center;
		display: block;
	}
	.product-container
	{
		width: 100%;
		margin: 30% auto;
		border-bottom: 2px solid #363636;	
	}

	.product-container h2
	{
		font-size: 18px;
	}
	
	.featured-product
	{
		margin-top:30%;
	}

  	.product-card
  	{
    	width: 100%;
    	height: 420px;
    	left: 0;
    	right:0;
    	margin: 0 auto;
    	
  	}

  	.image-holder
  	{
  		width: 100%;
  		height: auto;	
  		justify-content: center;
  	}

  	.product-details
  	{
  		margin-top: 2%;
  	}

  	.product-container .image-holder .product-options
  	{
  		width: 100%;
  		justify-content: center;
  	}
}

/*
.product-container h2
{
	margin-top: 6%;
	margin-bottom: 3%;
	color: #1d1d1d;
	font-size: 30px;
	text-align: center;
	padding: 0;
	text-decoration: underline;
}

.product-container ul
{
	display: flex;
	width: 95%;
	padding: 2%;
}

.product-container ul li
{
	display: inline-block;
}


.product-card
{
	cursor: pointer;
	
	box-shadow: 0px 3px 1px #4444;
	padding: 5px;
	width: 320px;
	height: 480px;
	box-sizing: border-box;
	overflow: hidden;
}


.image-holder
{
	display: flex;
	margin-top: 1%;
	margin-left: 0%;
	margin-right: auto;
	width: 100%;
	height: 280px;
	position: relative;
	overflow: hidden;
}


.image-holder img
{
	width: 240px;
	height: 280px;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
	overflow: hidden;
}

.image-holder:hover img
{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	transform: scale(1.2);
}

.product-details
{
	text-align: center;
	padding-top: 5px;
	overflow: hidden;
	font-size: 12px;
}

.product-container .image-holder .product-options
{
	padding: 3%;
	width: 100%;
	height: 280px;
	position: absolute;
	background: rgba(0,0,0,.5);
	transform: scaleY(0);
	overflow: hidden;
}

.product-container .image-holder:hover .product-options
{
	transform: scaleY(1);
	transition: transform .4s;
}

.product-container .image-holder .product-options .option
{
	padding: 5%;
	margin-top: 20px;
	border: 2px solid #4ce67f;
	text-align: center;
	font-size: 12px;
	color: #fff;
	overflow: hidden;
}

.product-container .image-holder .product-options .option:hover 
{
	background: rgba(0,0,0,.5);
	transition: .3s;
}
*/